{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <label for="symbol" class="form-label">Select stock symbol to sell:</label>
            <select class="form-control" id="symbol" name="symbol">
                <option value="" selected disabled>Choose...</option>
                {% for symbol in symbols %}
                    <option value="{{ symbol }}">{{ symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="shares" class="form-label">Number of shares to sell:</label>
            <input autocomplete="off" class="form-control" min="1" name="shares" id="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}